<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PlaceOrder</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/employee.css">
    <script src="/scripts/employee.js" defer></script>
</head>
<body>
    <h1>Current In Progress Orders</h1>
    <div class = "inProgressLog">
        <% var empty = true; %>
        <table>
            <thead>
                <th> ID </th>
                <th> Price </th>
                <th> Ingredients </th>
            </thead>

            <% locals.inprogressOrders.forEach(order => { %>
                <% empty = false; %>
                <tr>
                    <td><%= order.id%></td>
                    <td><%= order.price%></td>
                    <td><%= order.ingredients%></td>
                    <%#<td><form action="/employee/clear" method="post">
                        <button type="submit">Clear</button>
                      </form></td>%>
                </tr>
            <% }); %>
        </table>
        <% if(!empty){ %>
            <form action="/employee/clearall" method="post">
                <button type="submit">Clear All</button>
            </form>
        <% } %>
    </div>

    <div class="topbar">
        <div id="google_translate_element"></div>
    </div>   
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
</body>
</html>