<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Page</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/employee.css">
    <script src="/scripts/employee.js" defer></script>
</head>
<body>
    <div class = "topbar" id="page-title">
      
        <div class="left">
            <form action="/manager/" method="get">
                <button type="submit" class="buttonnav">Manager Page</button>
            </form> 
        </div>
        <div class="left">
            <form action="/customer/" method="get">
                <button type="submit" class="buttonnav">Customer Page</button>
            </form> 
        </div>
        <h1>Employee Page</h1>
        <div class="right">
            <div id="google_translate_element"></div>
        </div>
        

    </div>    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
        
    <br><br>
    <div class = "center">
        <% var empty = true; %>
        <table class = "inProgressLog">
            <tr>
                <th style="width:15%"> ID </th>
                <th> Ingredients </th>
                <th style="width:15%"> Finished </th>
            </tr>

            <% locals.inprogressOrders.forEach(order => { %>
                <% empty = false; %>
                <tr>
                    <td><%= order.id%></td>
                    <td><%= order.ingredients%></td>
                    <td><form action="/employee/clear/<%= order.id%>" method="post">
                        <button type="submit" class="button">Clear</button>
                      </form></td>
                </tr>
            <% }); %>
        </table>
        <br>
        <% if(!empty){ %>
            <form action="/employee/clearall" method="post">
                <button type="submit" class="buttonAll">Clear All</button>
            </form>
        <% } %>
    </div>
</body>
</html>