.section {
    margin: 0px 20px;
}

.order-window {
    display: flex;
}

.button-section {
    display: flex;
    flex-wrap: wrap;
}

.item-button {
    font-size: 20px;
    background-color: rgba(63, 63, 63, 0.91);
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2px;
    width: 100px;
    height: 50px;
    padding: 5px;
}

.item-button p {
    text-align: center;
    user-select: none;
}

.order-log {
    background-color: rgba(80, 80, 80, 0.91);
    border: 1px solid black;
    margin: 30px;
    padding: 20px;
    border-radius: 12px;
    width: 400px;
    flex: 0 0 auto;
    position: relative;
    /* height: 100%; */
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
}

#item-list {
    width: 100%;
    table-layout: fixed;
}

.td-name {
    width: 65%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.td-price {
    padding-left: 5px;
}

.items-category {
    margin: 5px
}

.item-button:hover {
    background-color: rgba(80, 80, 80, 0.91);
    cursor: pointer;
}

#order-report {
    display: flex;
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    /* width: auto; */
    /* justify-content: center; */
    align-items: center;
    
}

#submit-button {
    background-color: lightgreen;
}

#cancel-button {
    background-color: firebrick;
}

.report-button {
    padding: 5px;
    border-radius: 5px;
    margin-left: 15px;
    user-select: none;
}

.report-button:hover {
    cursor: pointer;
}

