@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 400%;
    margin-bottom: 1%;
    margin-top: 1%;
    width:70%;
    color: white;
} */


/* .topbar{
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #000000d7;
    top: 0;
    padding: 0.5%;
} */

h2{
    font-family: 'Quicksand', sans-serif;
}

.center{
    text-align: center;
}


/* body{
    background-color: rgb(102, 49, 49);
} */


.restock-order{
    display: inline-block;
    width: 35%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(63, 63, 63, 0.91);
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1%;
    padding-top: -5%;
    padding-bottom: -5%;
    margin: 1%;
    font-size: larger;
    /* font-family: 'Quicksand', sans-serif; */
}

.err{
    color: red;
}
.suc{
    color: rgb(0, 255, 0);
}

h3{
    font-size: x-large;
    text-decoration: none;
}

.input{
    width:50%;
    height: 20%;
    background-color: rgb(63, 63, 63);
    border: 3px solid rgba(37, 37, 37, 0.91);
    padding: 1%;
    color: white;
    font-size: large;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
}

/*numbers*/
.input2{
    width:30%;
    height: 10%;
    background-color: rgb(63, 63, 63);
    border: 3px solid rgba(37, 37, 37, 0.91);
    padding: 1%;
    color: white;
    font-size: large;
    border-radius: 8px;
    font-family: 'Quicksand', sans-serif;
}




.button {
    background-color:rgb(29, 29, 29);
    border: 2px solid rgba(29, 29, 29, 0.91);
    color: white;
    font-size: larger;
    transition-duration: 0.4s;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    margin: 1%;
}




.buttongreen {
    background-color:rgb(21, 143, 0);
    border: 2px solid rgba(29, 29, 29, 0.91);
    color: white;
    font-size: larger;
    transition-duration: 0.4s;
    margin: auto;
    width: 30%;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    margin: 1%;
}

.buttonred {
    background-color:rgb(143, 0, 0);
    border: 2px solid rgba(29, 29, 29, 0.91);
    color: white;
    font-size: larger;
    transition-duration: 0.4s;
    margin: auto;
    width: 25%;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    margin: 1%;
}

.button:hover{
    background-color: rgba(29, 29, 29, 0.4);
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.buttongreen:hover{
    background-color: rgba(21, 143, 0, 0.45);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.buttonred:hover{
    background-color: rgba(143, 0, 0, 0.45);
    color: rgb(255, 255, 255);
    cursor: pointer;
}




.log{
    width: 55%;
    display: inline-block;
    vertical-align:top;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(63, 63, 63, 0.91);
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1%;
    padding-top: -5%;
    padding-bottom: -5%;
    margin: 1%;
    font-size: larger;
    font-family: 'Quicksand', sans-serif;

    height: 45vh;
    overflow:scroll;
    overflow-x:hidden;

}

table{
    width: 95%;
    margin: auto;
}

th, td {
    border: 2px solid #000;
}


.reports{
    display: inline-block;
    width: 35%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(63, 63, 63, 0.91);
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1%;
    padding-top: -5%;
    padding-bottom: -5%;
    margin: 1%;
    font-size: larger;
    vertical-align: top;
    /*display: inline-block;
    width: 95%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(63, 63, 63, 0.91);
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1%;
    padding-top: -5%;
    padding-bottom: -5%;
    margin: 1%;
    font-size: larger;
    font-family: 'Quicksand', sans-serif;*/
}

.reports2{
    display: inline-block;
    width: 55%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(63, 63, 63, 0.91);
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1%;
    padding-top: -5%;
    padding-bottom: -5%;
    margin: 1%;
    font-size: larger;
    vertical-align: top;
    /*display: inline-block;
    width: 95%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgba(63, 63, 63, 0.91);
    transition: 0.3s;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1%;
    padding-top: -5%;
    padding-bottom: -5%;
    margin: 1%;
    font-size: larger;
    font-family: 'Quicksand', sans-serif;*/
}


#google_translate_element{
    font-size: larger;
}




#start-date{
    width:40%;
}

#end-date{
    width:41%;
}

#type{
    width:50.5%;
}

#customer-price{
    width:43%;
}

#restock-price{
    width:45%;
}

#order-unit{
    width:50.2%;
}

#customer-amount{
    width: 43.5%;
}

#restock-amount{
    width: 45%;
}

#min-amount{
    width: 44%;
}

